<div class="container mt-4">
  <div class="title">
    <h1><i>Lista de Posts</h1></i></h1>
  </div>

  <% postsdlt. forEach(post => { %>
  <div class="card-mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= post.titulo %></h3>  
      <p class="card-text"><%- post.conteudo %></p>
      <h5 class="card-data"><%= post.datadepostagem %></h5>
      <h5 class="card-autor"><%= post.autor %></h5>
      <a href="/postsdelete/<%= post.id %>" class="card-delete"
    </div>
  </div>
  <%  }); %>
</div>


<style>
  .title {
    border-bottom: 1px black solid;
    text-align: center;
  }

.card-autor{
  color: teal;
  border-top: 1px solid black;
}

  .card-title {
    border-bottom: 1px solid black;
    width: 160px;
    color: midnightblue;
  }

.card-data{
  color: midnightblue;
}

  .card-body {
    border: 1px solid gray;
    margin-top: 20px;
  }

  .card-body:hover {
    box-shadow: red 0.1em 0.1em 0.5em;
  }
</style>